<% @page_title = "Edit #{@content.title}" %>

<% if @content.class.downloadable_tags.any? || @content.downloadables.any? %>
  <div class="container no-bullets" id="edit-assets">
    <ul>
      <% if @downloadable.persisted? %>
        <li>
          <h2>Associated downloadables</h2>
        <li>
          <%= link_to @downloadable.title, @downloadable.downloadable_url %>
        </li>
        <li>
          <%= link_to @downloadable.description, @downloadable.downloadable_url %>
        </li>
        <li>
          <%= button_to "Destroy", content_downloadable_path(@content, @downloadable), :method => "delete" %>
        </li>
      <% end %>
      <% if @content.class.downloadable_tags.any? %>
        <li>
          <%= form_for :downloadable, :url => content_downloadables_path(@content), :html => {:multipart => true } do |f|  %>
          <fieldset>
            <legend>Add downloadable</legend>
            <ul class="no-bullets">
              <li>
                <%= f.label :title %>
                <%= f.text_field :title %>
              </li>
              <li>
                <%= f.label :description %>
                <%= f.text_area :description %>
              </li>
              <li>
                <% if @content.class.downloadable_tags.size == 1 %>
                  <% tag = @downloadable.tag || @content.class.downloadable_tags.first%>
                  <%= f.hidden_field :tag, :value => tag %>
                  <%= tag %>
                <% end %>
              </li>
              <li>
                <%= f.hidden_field :downloadable_cache %>
                <%= f.label :downloadable, "Choose a file to upload"%>
                <%= f.file_field :downloadable %>
              </li>
              <li>
                <%= submit_tag "Upload" %>
              </li>
            </ul>
          </fieldset>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container" id="edit-content">
  <%= form_for :content, :as => @content, :url => content_path(@content), :html => {:method => "put"} do |f| %>
    <fieldset>
      <legend><%= @page_title %></legend>
      <ul class="no-bullets">
        <% @content.fields_for_display.each do |field| %>
          <li>
            <%= show_content_label(field[1], f) %>
            <%= show_content_field(field[1], f) %>
          </li>
        <% end %>
        <li>
          <%= submit_tag "Save" %>
        </li>
      </ul>
  <% end %>
  <%= button_to "Destroy", content_path(@content), :method => :delete %>
</div>

