<% @page_title = "Edit #{@content.title}" %>


<div class="container" id="edit-content">
  <%= form_for :content, :as => @content, :url => content_path(@content), :html => {:method => "put"} do |f| %>
    <fieldset>
      <legend><%= @page_title %></legend>
      <ul class="no-bullets">
        <% @content.fields_for_display.each do |field| %>
          <li>
            <%= show_content_label(field[1], f) %>
            <%= show_content_field(field[1], f) %>
          </li>
        <% end %>
        <li>
          <%= submit_tag "Save" %>
        </li>
      </ul>
  <% end %>
  <%= button_to "Destroy", content_path(@content), :method => :delete %>
</div>

