<% @page_title = "New content" -%>

<div class="container" id="new-content">
  <%= form_for @content do |f| %>
    <fieldset>
      <legend><%= @page_title %></legend>
      <ul class="no-bullets">
        <li>
          <%= f.label :title %>
          <%= f.text_field :title, :class => "text" %>
        </li>
        <li>
          <%= f.label :kind %>
          <%= f.select :kind, Content.subclasses.map {|x| [x.to_s, x.to_s.downcase]} %>
        </li>
        <li>
          <%= f.label :publish_date %>
          <%= f.datetime_select :publish_date %>
        </li>
        <li>
          <%= submit_tag "Create", :class => "submit" %>
        </li>
      </ul>
    </fieldset>
  <% end %>
</div>
